form(action='/delete'
    onsubmit='setTimeout(function(){location.reload(true);},10)'
    method='POST')
    input.w3-btn.w3-blue-grey(type='submit' value='Apagar tarefas completadas' align='center')
