TPC5/Server/node_modules/
TPC6/Server/node_modules/
TPC7/movies.json
TPC7/app/node_modules/
TPC8/prize.json
TPC8/app/node_modules/
Aula9/ex1/app/node_modules/
Aula9/ex1/datasets/
Aula9/ex2/app/node_modules/
TPC10/app/node_modules/
Teste/p1/app/node_modules/
Teste/p2/app/node_modules/
