doctype html
html
  head
    title Gestor de ficheiros
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src="/javascripts/jquery-3.4.1.min.js")
    script(src="/javascripts/gFicheiros.js")

    script(src="/javascripts/jquery.modal.min.js")
    link(rel="stylesheet", href="/stylesheets/jquery.modal.min.css")
  body
    block content
