extends layout
block content
    table.table.table-dark.table-bordered.table-striped
        tr
            th Year
            td= prize.year
        tr
            th Category
            td= prize.category
        tr
            th Laureates
            td= prize.laureates
            