extends layout
block content
    h1 Prizes
    table.table.table-dark.table-bordered.table-striped
        thead
            tr
                th Category
                th Year
        tbody
            for prize in prizes
                tr
                    td= prize.category
                    td= prize.year
        