extends layout
block content
    table.w3-table.w3-striped.w3-bordered
        tr
            th Title
            td= movie.title
        tr
            th Year
            td= movie.year
        tr
            th Cast
            td= movie.cast
        tr
            th Genres
            td= movie.genres
        